/neural-doodle/data.pickle.gz
/neural-doodle/data.pickle
/neural-doodle/vgg19_conv.pkl.bz2
*.pyc
*.log
connect.sh
*.DS_Store
*.swp
image-analogies/out/*.jpg
image-analogies/out/*.png
image-analogies/vgg16_weights.h5
